@model CME4414.Models.User
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Sign Up to Library4Everyone</title>
    <!-- meta_tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="LSign Up to Library4Everyone" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
           function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta_tag_Keywords-->
    <!--css_files-->
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <link href="~/signup/css/style.css" rel="stylesheet" type="text/css" media="all" /><!--stylesheet-->
    <link rel="stylesheet" href="~/signup/css/font-awesome.css"><!--font_wesome_icons-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans+Caption" rel="stylesheet"><!--online_fonts-->
    <link href="//fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet"><!--online_fonts-->
    <!--//css_files-->
</head>
<body>
    <div class="w3l-head">
        <h1>Sign Up to Library4Everyone</h1>
    </div>
    @using (Html.BeginForm("SignUp", "Security", FormMethod.Post))
    {
        <div class="w3ls-form">
            <form action="#" medthod="post">
                <div class="w3l-last-grid1">
                    <div class="w3l-grid1">
                        <label class="text">First Name</label>
                        <div class="w3l-div">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="w3l-grid2">
                        <label class="text">Last Name</label>
                        
                        <div class="w3l-div">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Surname, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="w3l-last-grid1">
                    <div class="w3l-grid1">
                        <label class="text">Password</label>
                        <div class="w3l-div">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="w3l-grid2">
                        <label class="text">Date of Birth</label>
                        <div class="w3l-div">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            @Html.TextBoxFor(m => m.Birthdate, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Birthdate, "", new { @style = "color:red" , type="date"})
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="w3l-last-grid1">
                    <div class="w3l-grid1">
                        <label class="text">Your Email</label>
                        <div class="w3l-div">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="w3l-grid2">
                        <label class="text">phone number</label>
                        <div class="w3l-div">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="w3l-last-grid1">
                    <div class="w3l-grid1">
                        <label class="text">address</label>
                        <div class="w3l-div">
                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                            @Html.TextBoxFor(m => m.FullAddress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FullAddress, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="w3l-grid2">
                        <label class="text">city</label>
                        <div class="w3l-div">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.City, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="w3ls-submit">
                    <button class="btn btn-danger btn-block" type="submit">SignUp</button>

                </div>
            </form>
        </div>
    }

    <!-- Default-JavaScript -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

    <!-- Calendar -->
    <script src="js/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker,#datepicker1").datepicker();
        });
    </script>
    <!-- //Calendar -->
</body>
</html>

